div {
    width: 500px;
    height: 500px;
    border: 2px purple;
    border-radius: 200%;
    background-image: image("logo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    border: 5px solid purple;
    border-radius: 500%;
}