.item1 {
    color: aqua;
}
.item2 {
    color:red ;
}
.item3 {
    color:orange ;
}
.item4 {
    color:purple ;
}
.item5 {
    color:green ;
}
.item6 {
    color:black ;
}
.item7 {
    color:pink ;
}
.item8 {
    color:brown ;
}
.item9 {
    color:blue ;
}
.item10 {
    color:tan ;
}
.item11 {
    color:gold ;
}
.item12 {
    color:silver ;
}

#id1 {
    color:aqua;
}
#id2 {
    color:aqua;
}
#id3 {
    color:aqua;
}
#id4 {
    color:aqua;
}
#id5 {
    color:aqua;
}
#id6 {
    color:aqua;
}
#id7 {
    color:aqua;
}
#id8 {
    color:aqua;
}

li {
    color: crimson;
}