div {
    width: 200px;
    height: 200px;
    border: 2px dotted purple;
    display: inline-block;
    background: yellow;
}

span {
    display: inline-block;
    background: lightblue;
    font-size: 24px;
}