html, body, main, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

main {
    height: 1000px;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

div {
    height: 200px;
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font: 32px italic helvetica;
}

#one {
    flex-basis: 100%;
    background-color: teal;
}

#two {
    flex-basis: 60%;
    background-color: lightblue;
}

#three {
    flex-basis: 40%;
    background-color: orange;
}

#four {
    flex-basis: 50%;
    background-color: turquoise;
}

#five {
    flex-basis: 50%;
    background-color: purple;
}
